<div class="w-screen h-[50vh]">
  <div class="w-full h-full flex justify-center items-end">
    <%# リストがない場合は新規作成ボタンを大きく表示 %>
    <%= link_to "+ リストを作成しよう", new_list_path, class: "text-2xl rounded-md p-5 bg-blue-600 hover:bg-blue-500 text-white block font-medium grid place-items-center" %>
  </div>
</div>
