<div class="w-1/4 grid mt-5 text-right">
  <%= link_to "+ 作成", new_list_path, class: "text-right grid place-items-center w-full p-2 text-1xl rounded-lg bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
</div>

<div class="w-full">
  <% @lists.each do |list| %>
    <%= render list %>
  <% end %>
</div>
