<div class="w-full flex flex-col justify-items-center items-center mt-[1em]">
  <% if notice.present? %>
    <div class="w-screen flex flex-col mx-auto">
      <p  id="notice" class="py-2 px-3 bg-green-50 mb-5 text-center text-green-500 font-medium rounded-md inline-block">
        <%= notice %>
      </p>
    </div>
  <% end %>

  <% if @lists.any? %>
    <%= render partial: "index_lists" %>
  <% else %>
    <%= render partial: "index_no_lists" %>
  <% end %>
</div>