<% content_for :title, "New lists" %>

<div class="w-full flex flex-col justify-items-center items-center mt-[1em] overflow-hidden">
  <h1 class="font-bold text-4xl">
    新規リスト 作成
  </h1>

  <%= render "form", list: @list %>
</div>
